[gcode_macro MPC_SET_MATERIAL]
description: Set heater MPC parameters for a given material
variable_filament_table:
    {
        ## ( density, heat capacity )  # suggested heat capacity range
        "PLA"       : ( 1.25, 2.20 ),  # 1.80 - 2.20
        "PETG"      : ( 1.27, 2.20 ),  # 1.70 - 2.20
        "PC+ABS"    : ( 1.15, 2.20 ),  # 1.50 - 2.20
        "ABS"       : ( 1.06, 2.40 ),  # 1.25 - 2.40
        "ASA"       : ( 1.07, 2.10 ),  # 1.30 - 2.10
        "PA6"       : ( 1.12, 2.50 ),  # 2.00 - 2.50
        "PA"        : ( 1.15, 2.50 ),  # 2.00 - 2.50
        "PC"        : ( 1.20, 1.90 ),  # 1.10 - 1.90
        "TPU"       : ( 1.21, 2.00 ),  # 1.50 - 2.00
        "TPU-90A"   : ( 1.15, 2.00 ),  # 1.50 - 2.00
        "TPU-95A"   : ( 1.22, 2.00 ),  # 1.50 - 2.00
        "ABS-CF"    : ( 1.11, 2.40 ),  # 1.25 - 2.40
        "ASA-CF"    : ( 1.11, 2.10 ),  # 1.30 - 2.10
        "PA6-CF"    : ( 1.19, 2.50 ),  # 2.00 - 2.50
        "PC+ABS-CF" : ( 1.22, 2.20 ),  # 1.50 - 2.20
        "PC+CF"     : ( 1.36, 1.90 ),  # 1.10 - 1.90
        "PLA-CF"    : ( 1.29, 2.20 ),  # 1.80 - 2.20
        "PETG-CF"   : ( 1.30, 2.20 ),  # 1.70 - 2.20
    }
gcode:
  {% set filament_type = params.FILAMENT_TYPE | upper %}
  {% set filament_density = params.FILAMENT_DENSITY | default(0) | float %}
  
  {% set extruder_config = printer.configfile.settings.extruder %}
  
  {% if filament_type in filament_table %}
    {% set (density, heat_capacity) = filament_table[filament_type] %}
    {% if filament_density > 0.01 %}{% set density = filament_density %}{% endif %}
    RESPOND PREFIX="MPC: " MSG="filament type {filament_type} set for {heater} (density={density}, heat_capacity={heat_capacity})"
  {% else %}
    {% set density = extruder_config.filament_density %}
    {% set heat_capacity=extruder_config.filament_heat_capacity %}
    
    {% if filament_type is defined %}
      RESPOND PREFIX="MPC: " MSG="unknown filament type {filament_type}, using default MPC parameters for {heater}"
    {% else %}
      RESPOND PREFIX="MPC: " MSG="setting default MPC parameters for {heater}"
    {% endif %}
  {% endif %}
  
  MPC_SET HEATER="extruder" FILAMENT_DENSITY={density} FILAMENT_HEAT_CAPACITY={heat_capacity}
